.containerStyle {
  background-color: teal;
  border: solid #fff;
  border-radius: 20px;

  .titleStyle{
    color:blue;
  }
  .buttonStyle{
    border-radius: 30px;
    background-color: rgb(236, 61, 61);
  }
}

